body {
    --main-gradient: linear-gradient(0deg, rgb(15, 16, 17) 0%, rgba(38, 44, 58, 0.788) 100%);
    --dark-gradient: linear-gradient(0deg, rgb(15, 16, 17) 0%, rgb(15, 20, 22) 100%);
    --blue-gradient: linear-gradient(90deg, rgb(22, 24, 29) 0%, rgb(40, 54, 75) 35%, rgba(72, 128, 161, 0.788) 100%);
    --section-gradient: linear-gradient(0deg, rgb(25, 26, 29) 0%,  rgba(68, 85, 116, 0.788) 10%);

    --big-text-size: 3.5vw;
    --medium-big-text-size: 1.5vw;
    --medium-text-size: 1.1vw;
    --small-text-size: .75vw;
    --mini-text-size: 0.5vw;

    --big-text-size-phone: 8vw;
    --medium-big-text-size-phone: 6vw;
    --medium-text-size-phone: 5vw;
    --small-text-size-phone: 3vw;
    --mini-text-size-phone: 2vw;

    color: white;
    background: var(--dark-gradient);
    font-family: Andale Mono, AndaleMono, monospace;
}

header {
    background: var(--main-gradient);
    width: 100%;
    height: 20vh;

    padding: 0 0 2em 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header h1 {
    font-size: var(--big-text-size);
}


/*----------------- NAVIGATION ---*/

nav {
    
    background: linear-gradient(90deg, rgb(40, 43, 53) 0%, rgb(40, 54, 75) 35%, rgba(28, 44, 48, 0.788) 100%);

   
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0em;
}

nav > ul {
    padding: 0;
    margin: 0;

    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.1vh;
}

nav a {
    
    font-size: var(--medium-text-size);
    display: block; /* Hace que el enlace ocupe todo el espacio del `li` */
    padding: 1vh 10vh; /* Aumenta el área clickeable */
    text-align: center;
    text-decoration: none;
    background: radial-gradient( rgb(60, 100, 130) 35%, rgba(72, 146, 161, 0.788) 100%);
    color: white;

    transition-duration: 0.5s;

}

nav a:hover {
    background: radial-gradient( rgb(78, 125, 161) 35%, rgba(109, 204, 223, 0.788) 100%);
    transform: scale(1.02);
    transition-duration: 0.5s;
    
}

nav > ul > li {
    width: 100%;
    margin: 0em;
    list-style: none;
    background-color: rgb(63, 63, 63);
}

/*----------------- WORK ---*/

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h2 {
    
    background-color: rgb(43, 43, 43);
    text-align: center;
    font-size: var(--medium-big-text-size);
    width: 100%;
}

main section {
    margin: 2em;
    text-align: center;
    width: 70%;
    background: var(--section-gradient);

    border-radius: 2em;
}

main > section > h3 {
    height: 2vh;
    font-size: var(--medium-big-text-size);
}

/*----------------- WORK > CARD ---*/

.CardList {

    background: var(--main-gradient);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.1em;
    
}

.Card {
    box-shadow: rgba(106, 195, 255, 0.281) 0 0 20px;

    margin: 1vh;
    border-radius: 1em 1em 3em 3em;

    background: var(--blue-gradient);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 25em;
    transition: 1s;
}

.Card:hover {
    transform: scale(1.02);
    transition: 1s;
}

.Card > div {
    height: 100%;
}

.CardInfo {
    width: 40%;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.CardInfo > h1 {
    font-size: var(--medium-big-text-size);
}

.CardInfo > h2 {
    font-size: var(--medium-text-size);
}

.CardInfo > p {
    font-size: var(--small-text-size);
}


.CardMedia {
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardMedia img {
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;

    border-radius: 1em 2em 3em 1em;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.ButtonList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Button {
    margin: 0.5em;
    font-size: var(--small-text-size);
    display: block; /* Hace que el enlace ocupe todo el espacio del `li` */
    padding: 0.5vh 1vh; /* Aumenta el área clickeable */
    text-decoration: none;
    background-color: rgb(31, 31, 31); /* Color de fondo para visualizar */
    color: white;
}

.Button:hover {
    background-color: rgb(63, 63, 63);
}

/*----------------- MEDIA QUERIES ---*/

@media (aspect-ratio < 1) {
    header h1 {
        font-size: var(--big-text-size-phone);
    }

    nav a {
        font-size: var(--medium-text-size-phone);
    }


    nav > ul { 
        flex-direction: column;
        width: 100%;
    }

    main > h2 {
        font-size: var(--medium-big-text-size-phone);
    }

    main section {
        width: 100%;
    }

    main > section > h3 {
        font-size: var(--medium-big-text-size-phone);
    }

    .Card {
        height: 60vh;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .CardInfo {
        width: 100%;
    }

    .CardInfo > h1 {
        font-size: var(--medium-big-text-size-phone);
    }
    
    .CardInfo > h2 {
        font-size: var(--medium-text-size-phone);
    }
    
    .CardInfo > p {
        font-size: var(--small-text-size-phone);
    }

    .CardMedia {
        width: 100%;
    }

    .CardMedia img {
        width: 100%;
        border-radius: 1em 1em 1em 1em;
    }

    .Button {
        font-size: var(--small-text-size-phone);
    }
}